{{#each authors}}
<div class="row">
    <div class="col s12 m6">
        <div class="card indigo">
            <div class="card-content white-text">
                <p>Name: {{ this.name }}</p>
                <p>Bio: {{ this.bio }}</p>
                <p>Gender: {{ this.gender }}</p>
                <p><a href="/authors/{{this._id}}">View Author</a></p>
                <p><a href="/authors/edit/{{this._id}}">Edit Author</a></p>
                <p><a href="/authors/{{this._id}}?_method=DELETE">Delete Author</a></p>
            </div>
        </div>
    </div>
</div>


{{/each}}